@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
}
ul,li{
  list-style: none;
}

$base: (640/750)/40;//rem是最后算出结果的单位

.m-page{
  background-color: #e60012;/*
  background-image: url("../img/hq_bg.png");
  background-repeat: no-repeat;*/
  position: relative;
  .m-bg-img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .m-content{
    padding-top: 1163.1*$base+rem;
    width: 100%;
  }
  .m-item-block{
    font-size: 0;
    text-align: center;

  }

  .m-show{
    display: block;
  }

  .m-item-last{
    font-size: 0;
    text-align: center;

  }
  .m-hq-info1{
    height: 297*$base+rem;
    margin-bottom: 45*$base+rem;
    position: relative;
    z-index: 1;
    width: 375*$base+rem;

  }
  .m-hq-info2 {
    height: 560*$base+rem;
    margin-top: -54*$base+rem;
    position: relative;
    z-index: 1;
    width: 704*$base+rem;
  }
  .m-hq-info3 {
    height: 527*$base+rem;
    margin-top: -67*$base+rem;
    position: relative;
    z-index: 1;
    width: 470*$base+rem;
  }
  .m-hq-info4 {
    height: 740*$base+rem;
    margin-top: 134*$base+rem;
    position: relative;
    z-index: 1;
    width: 469*$base+rem;
  }
  .m-hq-info5 {
    height: 710*$base+rem;
    margin-top: 104*$base+rem;
    margin-left: -28*$base+rem;
    position: relative;
    z-index: 1;
    width: 484*$base+rem;
  }
  .m-hq-info6 {
    height: 739*$base+rem;
    margin-top: 106*$base+rem;
    margin-left: -5*$base+rem;
    position: relative;
    z-index: 1;
    width: 461*$base+rem;
  }
  .m-hq-info7 {
    height: 765*$base+rem;
    margin-top: 110*$base+rem;
    margin-left: -5*$base+rem;
    position: relative;
    z-index: 1;
    width: 461*$base+rem;
  }
  .m-hq-info8 {
    height: 195*$base+rem;
    margin-top: 211*$base+rem;
    margin-bottom: 205*$base+rem;
    position: relative;
    z-index: 1;
    width: 160*$base+rem;
  }
  .m-break{
    &:after{
      content: "";
      background: url("../img/hq_down.png") ;
      background-repeat: space;
      background-size: 100%;
      display: block;
      height: 23*$base+rem;
      margin: 0 auto 5*$base+rem;
      width: 32*$base+rem;
    }
  }
  .m-item-info2{
    position: relative;
    z-index: 999999999;
    .m-break-box{
      position: relative;
      z-index: 999999999;
      margin-top: -42*$base+rem;
    }
  }
  .m-item-info3{
    .m-break-box{
      position: relative;
      z-index: 9;
      margin-top: 145*$base+rem;
    }
  }
  .m-item-info4{
    .m-break-box{
      position: relative;
      z-index: 9;
      margin-top: 138*$base+rem;
    }
  }
  .m-item-info5{
    .m-break-box{
      position: relative;
      z-index: 9;
      margin-top: 138*$base+rem;
    }
  }
  .m-item-info6{
    .m-break-box{
      position: relative;
      z-index: 9;
      margin-top: 183*$base+rem;
    }
  }
  .m-item-info4{
    font-size: 0;
  }
  .m-item-info5{
    font-size: 0;
  }
  .m-item-info6{
    font-size: 0;
  }
}
